<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta  name="viewport" content="width=device-width, initial-scale=1.0">
<title>Select</title>
<link href="/static/css/style.css" rel="stylesheet">
</head>
<body style='background-color:yellow;'>

<br/><br/><br/>
<center style="font-size:40px;'"> Student's Database </center>
<br/><br/><br/>

	<div id='container' >
	
		<div id='button' onclick= "document.location.href='/add/'">
			Add Student		
		</div>
		
		<div id='button' onclick= "document.location.href='/view/'">
			View Student		
		</div>
		
	</div>


</body>

</html>