<!DOCTYPE html>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" >
<title>All Students</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>

<body style="text-align:center; background-color: #FFFF99;">

<h1>All Students</h1>

<h3> 
<a href='/view/'>View another Student</a> <br><br>
Page {{ all_students.number }} of {{ all_students.paginator.num_pages }}

<br>
</h3>


{% if all_students|length == 0 %} <h2> The students' database is empty. </h2> 

{% else %}
<center style='font-size:20px;'> 

<form action="" method="GET">
<label for='sortby'> Sort By :- </label>
<select name="sortby">
	<option selected='selected' value="rollno">Roll Number</option>
	<option value="name">Name</option>
</select>

<span style='margin-left:10px;'> </span>

<select name="order">
	<option selected='selected' value="asc">Ascending</option>
	<option value="dsc">Descending</option>
</select>
<br>

<label for='groupby'> Group By :- </label>
<select name="groupby">
					<option selected='selected' value="ALL">ALL</option>
					<option  value="CSE">CSE</option>
					<option value="MECH">MECH</option>
					<option value="CIVIL">CIVIL</option>
					<option value="ICE">ICE</option>
					<option value="CHEM">CHEM</option>
					<option value="EEE">EEE</option>
					<option value="MME">MME</option>
					<option value="PROD">PROD</option>
					<option value="ECE">ECE</option>
			</select>
			<br><br>
<input type='submit' value='Sort '>
<br><br>
</form>

<div style="margin:auto;width:600px;">

<table style='border:1px solid black;'>
<thead>
<th> Roll Number </th>
<th> Name </th>
<th> Department </th>
<th> Options </th>
</thead>

<tbody>
{% for i in all_students %}

<tr> 
    <td > {{ i.rollno }} </td>
    <td > {{ i.name }} </td>
    <td > {{ i.dept }} </td>
    <td > <a href='/edit/?rollno={{ i.rollno }}'>Edit</a> </td>
</tr>

{% endfor %}

</tbody>
</table>
<br>
<span> 
{% if all_students.paginator.num_pages >= 1 %}
Goto Page :- &nbsp;&nbsp;&nbsp;
{% for i in all_students.paginator.page_range %}

{% if i == all_students.number %} {{ i }} &nbsp;
{% else %} 
<a href='?page={{ i }}'>{{ i }}</a> &nbsp;
{% endif %}

{% endfor %}

{% endif %}

</span>

<br><br><br>

</center>
</div>

{% endif %}


</body>

</html>
