<!DOCTYPE html>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" >
<title>All Students</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>

<body style="text-align:center; background-color: #FFFF99;">

<br>
<h1>All Students</h1>
<br>

<h3> 
Page {{ all_students.number }} of {{ all_students.paginator.num_pages }}
<br><br>
<a href='/view/'>View another Student</a>
<br>
</h3>

<br>
{% if all_students|length == 0 %} <h2> The students' database is empty. </h2> 

{% else %}
<div style="margin:auto;width:600px;">
<center style='font-size:20px;'> 
<table style='border:1px solid black;'>

<thead>
<th> Roll Number </th>
<th> Name </th>
<th> Department </th>
<th> Options </th>
</thead>

<tbody>
{% for i in all_students %}

<tr> 
    <td > {{ i.rollno }} </td>
    <td > {{ i.name }} </td>
    <td > {{ i.dept }} </td>
    <td > <a href='/edit/?rollno={{ i.rollno }}'>Edit</a> </td>
</tr>

{% endfor %}

</tbody>
</table>
<br>
<span> 
{% if all_students.paginator.num_pages >= 1 %}
Goto Page :- &nbsp;&nbsp;&nbsp;
{% for i in all_students.paginator.page_range %}

{% if i == all_students.number %} {{ i }} &nbsp;
{% else %} 
<a href='?page={{ i }}'>{{ i }}</a> &nbsp;
{% endif %}

{% endfor %}

{% endif %}

</span>

<br><br><br>

</center>
</div>

{% endif %}


</body>

</html>
